body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #333;
}

/* ===== hlava ===== */
.header {
    background-color: #1f1f1f;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.navbar a:hover {
    color: #c59d5f;
}


.hero {
    height: 80vh;
    background-image: url("https://warrentricomi.com/wp-content/uploads/2023/09/history-of-barber-cuts-mens-haircuts-salon-nyc-1024x824.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text přes obrázek */
.hero .content {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 40px;
    text-align: center;
    color: white;
    max-width: 500px;
    border-radius: 8px;
}

.hero h2 {
    margin-top: 0;
    font-size: 32px;
}

.hero p {
    line-height: 1.6;
    margin-bottom: 20px;
}


.order-btn {
    padding: 12px 25px;
    background-color: #c59d5f;
    color: #111;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.order-btn:hover {
    background-color: #b38a4d;
    transform: translateY(-2px);
}

/* ===== SLUŽBY ===== */
.services {
    padding: 60px 20px;
    background-color: #f2f2f2;
    color: #333;
}

.services h2 {
    text-align: center;
    margin-bottom: 30px;
}

.services ul {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.services li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* ===== FOOTER ===== */
.footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
